@font-face {
    font-family: rockb;
    src: url(../font/static/RockwellBQ-Regular.otf);
}
body::-webkit-scrollbar {
    width: 5px;
}
body::-webkit-scrollbar-button {
    background:  #67021e;;
    width: 0;
    height: 0;
}
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background: transparent;
}
body::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    background:  #67021e;;
    height: 0;
}
body {
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  line-height: 1.6;
  font-weight: 700;
  margin: 0;
  color: #383a3b;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    color: #fff;
    font-family: rockb;
    font-weight: bold;
}
a{
    text-decoration: none;
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    color: #000;
}
p {
    font-size: 20px;
    line-height: 1.8;
}
ul li a {
    font-weight: 400;
}
h1 {
    font-size: 45px;
    color: #67021e;
}
h2 {
    font-size: 35px;
    color: #67021e;
}
h3 {
    font-size: 28px;
    color: #67021e;
}
h2,
h3,
p,
ul {
    padding: 0;
    margin: 0;
}
.container{
    /* width: 100%; */
    max-width: 1920px;
    padding: 0 140px;
    margin: 0 auto;
}
.header-logo-container {
    text-align: center;
    padding-top: 20px;
    z-index: 11111;
}
nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 30px 0;
    text-transform: uppercase;
}
nav a {
    font-size: 18px;
}

header .row {
    border-top: 2px dashed #0000004d;
}
header .container .row {border: none;}

.cta-tab-header ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.cta-button-header {
    display: flex;
    width: 28%;
    justify-content: space-between;
}
.cta-tab-header {
    width: 65%;
}
a.nav-active {
    color: #6e011e;
}
header {
    /* background-color: #e8e5de; */
    border-bottom: 2px solid #bfb3b3;
}
a.nav-button {
    background: #29b053;
    padding: 10px 35px;
    border-radius: 5px;
    color: #fff;
    position: relative;
    border:  solid;
    border-image-slice: 1;
    border-width: 3px;
    border-image-source: linear-gradient(to right, #D6AD1D, #A27F0A);
}
body.backgound-img {
    background-image: url('../img/home-top-background.jpg');
    background-repeat: repeat-y;
}
.by-the-inverstors-section {
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid #d2cdcd;
}

.by-the-inverstors-section h1 {
    color: #67021e;
    text-transform: capitalize;
    letter-spacing: 1px;
}
.text-continaer h2 {
    color: #67021e;
}.about-dariyaganj .text-continaer {
    margin: 0px 50px;
}

.about-dariyaganj {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

.section-start-img, .section-end-img {
    width: 100%;
}

.section-start-img img, .section-end-img img {
    width: 100%;
}

.about-daryaganj-body {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
.about-daryaganj-body-sec-2 {
    padding: 0px 10px;
}

.about-text-2 p {
    font-size: 20px;
    line-height: 1.7;
    font-weight: 700;
    padding-bottom: 50px;
}
.about-text-2 p span {
    font-size: 30px;
    font-weight: 600;
}
.readmore-btn a,.button-container button {background: #413d3d;color: #fff;padding: 15px 60px;text-transform: uppercase;font-size: 18px;}
.about-daryaganj-body-sec-1 {
    padding-right: 20px;
}

.about-daryaganj-body-sec-3 {
    padding-left: 20px;
    width: 27%;
}

section.about-kundanla-container {
    padding: 20px 0;
}

.about-kundanla-contet-container {
    display: flex;
    justify-content: space-between;
}

.about-kundanla-contet-left {
    width: 45%;
}

.about-kundanla-contet-right {
    /* padding-left: 50px; */
}

.about-kundanla-contet-left {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.about-kundanla-contet-left-2 p {
    font-size: 20px;
    margin-top: 20px;
    line-height: 1.7;
}

.about-kundanla-contet-left-1 {
    display: flex;
    align-self: center;
}


.image-contiainer-forhover {
    align-self: center;
}


.about-kundanla-contet-left-1 h2 {
    margin-right: 30px;
}
.about-iconic-dishhes-content {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}

.dishhes-content-2-text h3 {
    color: inherit;
}

.iconic-dishhes-content-2 {
    padding: 0px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dishhes-content-2-text p {
    font-size: 20px;
    line-height: 1.7;
}

.iconic-dishhes-content-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-iconic-dishhes-content {
    display: flex;
    justify-content: space-between;
}

section.menu-iconic-dishhes {
    padding: 50px 0;
}

.menu-dishhes-content-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 50px;
    width: 33%;
}

.menu-content-2-text h3 {
    color: inherit;
}

.menu-content-2-text p {
    font-size: 20px;
    line-height: 1.7;
}

.menu-dishhes-content-3 {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
}

.menu-content-3-text h3 {
    color: inherit;
}

.menu-content-3-text p {
    font-size: 20px;
    padding-top: 10px;
    line-height: 1.7;
}

.menu-content-3-text {
    margin-top: 20px;
}
.rotate-180{
    transform: rotate(180deg);
}
.awards-content-container {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}

.awards-content-1,.awards-content-2,.awards-content-3 {
    width: 33%;
}

.awards-content-3,.awards-content-1 {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.awards-content-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    padding-top: 0;
}

.dishhes-content-2-img img {
    width: 100%;
}

section.daryaganj-on-the-go-sec {
    padding: 50px 0;
}

.abousolute-position-onthego-container {
    display: flex;
    justify-content: space-between;
}

.onthego-container {
    position: relative;
    border: 2px solid #000;
}

.onthego-text {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 80px;
    z-index: 99;
}

.onthego-text h3 {
    color: inherit;
}

.onthego-text p {
    font-size: 20px;
    line-height: 1.7;
    font-weight: 500;
    margin-top: 20px;
}

.abousolute-position-onthego-container:after {content: " ";position: absolute;/* background: red; */width: 100%;height: 100%;border: 2px solid black;top: -10px;left: -10px;}
section.blog-section {
    padding: 0px 0;
}

.homepage-blogcontainer {
    display: flex;
    justify-content: space-between;
    /* height: 70vh; */
    padding: 30px 10px;
}

.home-blog-text-container {
    padding: 30px 0;
}

.one-blog {
    display: flex;
    flex-direction: column;
    width: 480px;
    margin: 0px 30px;
}

.blog-text h3 {
    color: inherit;
}

.blog-text p {
    font-size: 20px;
    line-height: 1.7;
}

.blog-text {
    width: 100%;
}
img.fa-arrow-right {
    transform: rotate(180deg);
}

.about-img-3-2 img {
    width: 100%;
}

button.slick-arrow {
    margin: 0px 20px;
    border: none;
    outline: none;
    background: transparent;
}

.blog-img , .blog-img img {
    width: 100%;
}
.row-upper-border{
    border-top: 1px solid #ddd;
    padding:20px 0;
}

.row-upper-border p{
   font-size: 18px;
}

.footer-text-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}

footer ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}

footer ul li {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

footer .log-container {
    margin-right: 40px;
}

footer ul li h4 {
    font-size: 25px;
    color: #1C1C1C;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
}


ul.footer-wrap-ul {
    flex-direction: row;
    flex-wrap: wrap;
}

ul.footer-wrap-ul li a {
    display: flex;
    flex-direction: row;
}

ul.footer-wrap-ul li a img {
    margin-right: 10px;
    width: 15px;
    height: 25px;
}

ul.footer-wrap-ul li {flex-basis: 46%;padding: 0 20px 20px 0px;}

.contact-us-container {
    width: 37%;
}

.log-text-container a, li p, li a p {
    font-size: 18px;
    font-weight: 700;
}

footer p.bold {
    font-weight: bold;
}

footer p.bold span {
    color: #67021e;
}

a.arrow-down {
    position: relative;
}
.arrow-down::after{
    position: absolute;
    content: " ";
    background-image: url('../img/header-arrow.png');
    background-repeat: no-repeat;
    z-index: 11;
    width: 30px;
    height: 30px;
    right: -47px;
    bottom: -12px;
}
.readmore-btn,.button-container {
    position: relative;
}
.readmore-btn a:after,.button-container button:after {
    position: absolute;
    content: " ";
    width: 10px;
    height: 45px;
    border: 1px solid black;
    z-index: -1;
    left: 10px;
    padding: 0px 105px;
}

.readmore-btn.see-full-menu a::after {
    width: 40px;
}

a.nav-button:hover {
	color: #fff;
	background-color: transparent
}

a.nav-button::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 0;
	height: 100%;
	z-index: -1;
	border-radius: 4px;
	background-color: #67021eb5;
	opacity: 1;
	transition: .6s;
}

a.nav-button:hover::before {
	opacity: 1;
	background-color: #67021eb8;
	width: 100%;
	transition: width .8s, opacity .2s
}

.readmore-btn a:hover,.button-container button:hover {
	color: #fff;
	background-color: transparent
}

.readmore-btn a::before,.button-container button::before {
	content: "";
	position: absolute;
	top: -10px;
	left: 0px;
	display: block;
	width: 0;
	height: 45px;
	z-index: -1;
	border-radius: 4px;
	background-color: #413d3d;
	opacity: 1;
	transition: .6s;
}

.readmore-btn a:hover::before, .button-container button:hover::before {
	opacity: 1;
	background-color: #000000;
	width: 220px;
	height: 50px;
	transition: width .8s, opacity .2s;
	border-radius: 0;
}

.readmore-btn.see-full-menu a:hover::before {
	width: 250px;
}
div.image-contiainer-forhover {
   overflow: hidden;
}
img.hover-image {
    transition: .2s;
}
img.hover-image:hover {
    transform: scale(1.02);
}
.menu-content-1-img .image-contiainer-forhover {
    height: 100%;
}

.onthego-img {
    z-index: 11;
}

.about-kundanla-container.about-page .about-dariyaganj {
    padding-top: 0;
}

.about-kundanla-container.about-page .about-kundanla-contet-left-2 {
    margin-bottom: 50px;
}

section.about-kundanla-container.about-page .about-kundanla-contet-container {
    padding: 50px 0;
}

.row1,.row2 {
    display: flex;
    justify-content: space-between;
    padding: 30px 0px;
}

.row1 .stories-text {
    margin-left: 50px;
}

.row2 .stories-text {
    margin-right: 50px;
    margin-left: 20px;
}

.stories-text h3 {
    color: inherit;
    margin-bottom: 20px;
}

.stories-text p {
    font-size: 20px;
    line-height: 1.8;
    padding-bottom: 30px;
}

section.about-kundanla-container.about-page-iconic-section .about-kundanla-contet-right {
    padding:0;
    padding-right: 50px;
}

section.about-kundanla-container.about-page-iconic-section .about-kundanla-contet-left-2 {
    /* margin-bottom: 50px; */
}

section.about-kundanla-container.about-page-iconic-section .about-kundanla-contet-container {
    padding: 0px 0px;
}

.about-page-iconic-section .kundal-lal-jaggi-image-container , .kundal-lal-jaggi-image-container img {
    height: 100%;
}

.about-page-iconic-section .image-contiainer-forhover {
    height: 520px;
}

.row1 {
    margin-bottom: 60px;
}

.row2 {
    margin-top: 60px;
}

.founder-container {
    display: flex;
    justify-content: space-around;
}

.founder {/* flex: 1; */width: 41%;}

.founder-word {
    padding: 30px 0px;
    padding-right: 20px;
}

.founder-word h3 {
    color: inherit;
}

.founder-word p {
    font-size: 20px;
    padding-top: 30px;
    line-height: 1.8;
    font-weight: 600;
}

section.award-and-media-sec.abt-page-family .awards-content-2 {
    align-self: center;
    padding: 0;
}

.contact-us-header {
    display: flex;
    justify-content: space-between;
    padding: 40px 0px;
}

.contact-us-header-2-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px 0px;
    height: 100%;
}

.contact-us-header-2 {
    padding-left: 50px;
}

.contact-us-header-2-p p {
    font-size: 20px;
}

.map-right-sub-div {
    background: #fff;
    padding-top: 60px;
    padding-left: 50px;
    height: 90%;
}

.cn-ln-icn {
    margin-right: 10px;
}

.location-text-cn {
    font-size: 20px;
}

.location-text-cn p span {
    font-family: rockb;
    font-weight: 700;
}

.contact-from-container {
    display: flex;
    justify-content: space-between;
    padding: 60px 0;
}

.contact-from-text {
    flex-basis: 40%;
    padding-right: 30px;
    border-right: 2px solid #c1bfbf;
}

.contat-text-from h3 {
    color: inherit;
}

.contat-text-from p {
    font-size: 20px;
    line-height: 1.7;
    padding-top: 20px;
}

.find-us-cn {
    display: inline-flex;
    justify-content: space-between;
    padding: 80px 0px 0px 0;
}

.icons-cn {
    display: flex;
}

.cn-one-icon {
    padding-left: 60px;
}

.find-us-text p {
    font-size: 18px;
}

.contact-us-form-content {
    flex: 1;
    padding-left: 70px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    padding: 30px 0px;
}

.form-group input,
.form-group select {
    background: 0 0;
    border: none;
    border-bottom: 2px solid #b1acac;
    width: 350px;
    text-align: center;
    color: #67021e;
    padding: 5px 0;
    height: 47px;
    -webkit-appearance: none;
    outline: 0;
}
.form-group input::placeholder {
    color: #d8bb8d;
}
.form-group select {
    padding: 5px 15px;
    background-image: url(../img/down-arrow.svg);
    background-position: 96% 50%;
    background-repeat: no-repeat;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.form-group label, .form-text-are label {
    font-size: 20px;
    font-family: 'rockb';
}

.form-text-are {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.form-text-are textarea {
    background: 0 0;
    border: none;
    border: 2px dashed #b1acac;
    width: 350px;
    text-align: center;
    color: #67021e;
    padding: 5px 0;
    height: 100px;
    -webkit-appearance: none;
    outline: 0;
    width: 100%;
    margin-top: 20px;
}

.button-container button {
    border: none;
    font-size: 13px;
}

.button-container button::before {
    left: 0px;
    top: 0;
    height: 40px;
}
.hospitality-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hospitality-one {
    width: 40%;
    padding-bottom: 50px;
}

.heading-hospi p {
    font-family: rockb;
    font-size: 40px;
    color: #67021e;
}

.heading-hospi p span {
    font-size: 55px;
    display: inline-block;
    margin-right: 20px;
}

.subheading-hospi p {
    font-size: 20px;
    line-height: 1.8;
}

.subheading-hospi {
    padding: 0 40px;
    padding-right: 120px;
}

.subheading-hospi p span {
    font-family: rockb;
}
button.navbar-toggler_custom {
    display: none;
}


.kundal-lal-jaggi-image-container.abt-page-iconic-three {
    display: flex;
    align-items: center;
    height: max-content;
}

.abt-page-iconic-three div .image-contiainer-forhover {
    height: auto;
    margin-left: 20px;
}
.abt-page-iconic-three div .image-contiainer-forhover:first-child {
    margin-left: 20px;
}
section.about-kundanla-container.about-page-iconic-section {
    padding-bottom: 0;
}

.abt-page-served-1 h3 {
    color: #383A3B;
}

.dignitaries-served-row {
    display: flex;
    padding: 30px 0;
    justify-content: space-between;
}

.dignitaries-served-col-left,.dignitaries-served-col-right {
    width: 50%;
}

.dignitaries-served-col-right .image-contiainer-forhover {
    width: 80%;
    align-self: flex-end;
}

.dignitaries-served-col-right .image-contiainer-forhover img {
    width: 100%;
}

.dignitaries-served-col-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dignitaries-served-col-right .image-contiainer-forhover:first-child {
    margin-bottom: 20px;
}

.abt-page-served-2 {
    padding-top: 50px;
}

.abt-page-served-2 ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.abt-page-served-2 ul li {
    width: 40%;
    padding-bottom: 30px;
    padding-left: 40px;
    position: relative;
}

.abt-page-served-2 ul li p {
    font-size: 22px;
    font-weight: 500;
}
.abt-page-served-2 ul li:before {content: "";position: absolute;left: 0px;top: 10px;width: 20px;height: 20px;background:url('../img/arrow-small-left-light-color.png');background-repeat: no-repeat;background-size: contain;}
.timeline-img-container {
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
    padding-top: 20px;
}

.timeline-img-container img {
    width: 100%;
}

section.about-kundanla-container.section-2-abtpage {
    padding-top: 20px;
}

.section-2-abtpage .about-kundanla-contet-container {
    padding-top: 50px;
}
.kundal-lal-jaggi-image-container.the-menu-concept .image-contiainer-forhover {
    height: auto;
}
.about-kundanla-contet-left.the-menu-concept {
    width: 50%;
}

.about-page-iconic-section.the-menu-concept .about-kundanla-contet-container {
    justify-content: space-around;
}

.abmiance-para {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.abmiance-para p:first-child {
    padding-bottom: 40px;
}

.image-contiainer-forhover label {
    font-size: 22px;
    line-height: 80px;
    text-align: center;
    font-family: 'rockb';
    text-transform: uppercase;
}

.abiamce-img-container {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    align-items: flex-end;
}

.abiamce-img-container .image-contiainer-forhover {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-3-abtpage .about-kundanla-contet-container {
    padding: 50px 0;
}
.about-kundanla-contet-right.sen-full-image-container {
    width: 40%;
}
.about-kundanla-contet-left-2 ul {
    list-style: none;
}
.about-kundanla-contet-left-2 ul li {
    position: relative;
    padding-left: 40px;
}
.about-kundanla-contet-left-2 ul li p span {
    font-size: 25px;
    font-weight: 700;
}
.about-kundanla-contet-left-2 ul li:before {
    content: "";
    position: absolute;
    left: 10px;
    top: 10px;
    width: 20px;
    height: 20px;
    background: url('../img/arrow-small-left-light-color.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.dignitaries-content {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

.dignitaries-content-col-1 {
    display: flex;
    justify-content: space-between;
}
.dignitaries-content-col-1 .stories-text {
    width: 60%;
    padding-right: 50px;
}
.dignitaries-content-col-3 {
    display: flex;
    justify-content: space-between;
}
.dignitaries-content-col-3 .image-contiainer-forhover {
    align-self: baseline;
}
.celebrities-btn-container {
    display: flex;
    justify-content: center;
    padding: 60px 0;
}
.hospitia-our-br-text {
    text-align: center;
}

.abt-our-brands-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 50px;
    margin: 40px 40px;
    border: 2px dashed #6E011E;
}

.orb-content {
    width: 30%;
    padding: 40px 1%;
    margin-bottom: 20px;
    text-align: center;
    transition: 1s;
}

.obr-text p {
    font-size: 18px;
    line-height: 30px;
}

.obr-heading h4 {
    color: #383A3B;
    font-size: 25px;
    line-height: 33px;
}

.orb-log {
    margin-bottom: 10px;
}

.obr-heading {
    margin-bottom: 10px;
}
.orb-content:hover {
    z-index: 2;
    transform: translateY(-15px);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}

section.daryaganj-on-the-go-sec.abt-page .onthego-container {padding: 40px 30px;}

section.daryaganj-on-the-go-sec.abt-page.abt-page-reverse .abousolute-position-onthego-container {
    flex-direction: row-reverse;
}

.about-iconic-dishhes-content.abt-page-core-team .dishhes-content-3-text {
    margin-bottom: 20px;
}
p.abt-page-core-team-text {
    font-weight: bold;
    text-align: center;
    margin-top: -30px;
    font-size: 25px;
}

.readmore-btn.view-all-videos a:after {
    width: 50px;
}

.readmore-btn.view-all-playlist a:after {
    width: 80px;
}

.readmore-btn.view-all-playlist a:hover::before {
    width: 290px;
}

.readmore-btn.view-all-videos a:hover::before {
    width: 260px;
}

.csr-parent-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}

.one-csr-container {
    width: 43%;
    padding: 50px 3%;
    border: 2px dashed #707070;
    margin-bottom: 30px;
}

.csr-heading h4 {
    color: #6E011E;
    font-size: 30px;
}

.one-csr-container ul {
    list-style: none;
}

.one-csr-container ul li {
    position: relative;
    padding-left: 40px;
    margin: 20px 0px;
}

.one-csr-container ul li:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 10px;
    width: 20px;
    height: 20px;
    background: url('../img/arrow-small-left-light-color.png');
    background-repeat: no-repeat;
    background-size: contain;
}

section.about-kundanla-container.gallery-page {
    padding-bottom: 0;
}
.gallery-resturant-text {
    display: flex;
    justify-content: space-between;
}

.gallery-resturant-text .stories-text {
    width: 33%;
    align-self: center;
}

.gallery-first-img-container {
    display: flex;
    justify-content: space-between;
    width: 55%;
}

.gallery-img-col-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.marketing-coletral-row {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

.marketing-coletral-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.gallery-button-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

section.gallery-marketing-collateral-section {
    padding: 0px 0;
}
.marketing-coletral-row.food-at-daryaganj {
    width: 93%;
    margin: 0 auto;
}
.gallery-page .awards-content-container.gallery-page {
    padding: 30px 0;
}

.awards-content-3, .awards-content-1 {
    justify-content: space-between;
}

.gallery-page .awards-content-2 {
    padding: 0px;
}

.gallery-page .awards-content-2 .awards-content-2-1 {
    padding: 50px 0px;
}
.dishhes-content-2-text.team-of-daryaganj {
    padding: 0 50px;
    text-align: center;
}
.gallery-page .abiamce-img-container {
    padding: 0;
}

section.dignitaries-at-daryaganj.gallery-page {
    padding: 50px 0px;
}

section.gallery-marketing-collateral-section.serverd-to-stars {
    padding: 0;
}

.gallery-page .section-start-img {
    padding-bottom: 0px;
}

.birthday-video-contianer {
    padding: 50px 0;
}

.official-video-wrap {
    position: relative;
    width: 100%;
}
span.officialvideo-playicon {
    position: absolute;
    top: 35%;
    left: 46%;
}

span.officialvideo-playicon img {
    width: 100%;
}

.menu-sec-first-sec .marketing-coletral-row.food-at-daryaganj {
    justify-content: space-evenly;
}

.menu-sec-first-sec .marketing-coletral-row.food-at-daryaganj .marketing-coletral-col {
    /* margin-right: 10%; */
}

.menu-sec-second-sec .marketing-coletral-row.food-at-daryaganj {
    justify-content: space-evenly;
}

.menu-sec-second-sec .marketing-coletral-col .image-contiainer-forhover,.menu-sec-second-sec .marketing-coletral-col .image-contiainer-forhover img {
    height: 100%;
}
.row-for-menu-ninetyfoutyseven {
    text-align: center;
}
.row-for-menu-ninetyfoutyseven .image-contiainer-forhover {
    padding: 10px 0;
}
.fouth-sec .marketing-coletral-col {
    width: 23%;
    position: relative;
}

.fouth-sec .marketing-coletral-col .image-contiainer-forhover img,.fouth-sec .marketing-coletral-col .image-contiainer-forhover {
    width: 100%;
    height: 100%;
}

.marketing-coletral-row-2.food-at-daryaganj {
    width: 93%;
    margin: 0 auto;
}
.menu-beverage-img-container .image-contiainer-forhover {
    display: flex;
    flex-direction: column;
    width: 32%;
}

.menu-beverage-img-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.publication-logo-content {
    padding: 40px 10px;
}

.publication-logo-content button.prevArrow.slick-arrow, .publication-logo-content .nextArrow.slick-arrow {
    position: absolute;
    top: 70px;
}

.publication-logo-content button.prevArrow.slick-arrow{
    left:-70px;
}

 .publication-logo-content .nextArrow.slick-arrow {
 right:-70px;
}
.articles-page-media-row-maineconatianer {
    display: flex;
    justify-content: space-between;
}

.articles-page-media-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.articles-page-media-sub-row {
    display: flex;
    justify-content: space-between;
}
.official-video-wrap img {
    width: 100%;
}

.fouth-sec .marketing-coletral-col span {
    position: absolute;
    top: 140px;
    left: 135px;
}
.fouth-sec .marketing-coletral-col span img {
    width: 80px;
    height: 80px;
}
.articles-page-media-col {
    padding: 10px;
}
section.articles-page-media-sec {
    padding-bottom: 50px;
}
section.menupage-bevrage-sec.media-page {
    padding-bottom: 50px;
}
section.gallery-marketing-collateral-section.serverd-to-stars.media-page .section-end-img {
    padding-top: 50px;
}

.border-dashed {
    padding: 15px !important;
    border: .13em dashed #00000061;
}
.text-aligh-center{
    text-align: center;
}

.dishhes-content-2-text.dashed-heading-top.team-of-daryaganj {
    padding: 30px 0;
    border: .13em dashed #00000061;
}
.by-the-inverstors-section h2 {
    text-transform: capitalize;
}
.contact-us-header-2-p p {
    font-family: rockb;
}


/* 100% zoomed images*/
#myImg {
    cursor: pointer;
    transition: 0.3s;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 99999999;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
  }

  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }

  .modal-content{
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }

  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
  }

  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }

  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }

  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }

  .cta-tab-header ul li a {
    font-weight: 700;
    color: #6e011e;
    position: relative;
}

.cta-tab-header ul li a.nav-active:before {content: " ";position: absolute;height: 2px;width: 100%;background: #67021e;bottom: -10px;}

.cta-tab-header ul li a:before {
    content: " ";
    position: absolute;
    height: 2px;
    width: 0;
    background: #67021e;
    bottom: -10px;
    transition: 1s;
}

.cta-tab-header ul li a:hover:before {
    width: 100%;
}
.by-the-inverstors-section h2 {
    font-weight: 400;
}

.about-img-3-1,.about-img-3-1 img {
    width: 450px;
}

.about-img-1 .border-dashed {
    padding: 50px 15px !important;
}

.about-kundanla-contet-left>div:first-child {
    margin-bottom: 40px;
}

.dishhes-content-2-text {margin: 0 auto;margin-top: 100px;}

.dishhes-content-2-text .readmore-btn {
    margin-top: 40px;
    margin-left: 40px;
}

.blog-text h3 {
    font-size: 25px;
    font-family: 'Lato';
    font-weight: 600;
    margin-bottom: 30px;
    color: #383A3B;
}

p.footer-our-presense {
	font-size: 24px;
	font-weight: 900;
	}
ul.footer-wrap-ul li p {
	font-weight: 900;
	text-transform: uppercase;
	}
    ul.footer-wrap-ul li p span {
        font-size: 16px;
        font-weight: 500;
    }
    .footerlogo-container {
        display: flex;
    }

    .awards-new-wrapper-view {
        display: flex;
        flex-direction: column;
        width: 60%;
    }

    .awards-content-1-2, .awards-content-1-2 img, .awards-content-3-2, .awards-content-3-2 img {
    width: 100%;
    position: relative;
}

    .awards-content-1,.awards-content-3 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .awards-content-1 {
        margin-bottom: 20px;
    }

    .awards-content-3 {
        margin-top: 20px;
    }

    .awards-content-1 .border-dashed, .awards-content-3 .border-dashed {
    padding: 20px 30px !important;
}

.awards-content-1-3 .border-dashed, .awards-content-3-3 .border-dashed {
    padding: 0px 50px !important;
}

.awards-content-1-2 .image-contiainer-forhover {
    position: absolute;
    top: -30px;
    width: 110%;
}

.follow-us-container {
    align-self: flex-start;
}

.contact-us-container {
    align-self: flex-start;
}
section.about-kundanla-container.about-page {
    padding-bottom: 0;
}
.stories-image {
    margin: 0px 50px;
}
section.about-kundanla-container.about-page-iconic-section .about-kundanla-contet-left {
    flex: 1;
}

.abt-page-iconic-three-last-two-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 520px;
}
section.about-kundanla-container.about-page-iconic-section .about-kundanla-contet-left-2 p {
    margin-top: 0;
}
.about-kundanla-contet-container.the-daryaganj-rest-abt-page {
    padding-top: 0;
}

.about-kundanla-contet-container.the-daryaganj-rest-abt-page .about-kundanla-contet-left-2 {
    margin-bottom: 0;
}

section.about-kundanla-container.about-page-iconic-section.the-menu-concept {
    padding: 0;
}

.about-kundanla-contet-container.the-daryaganj-rest-abt-page .about-kundanla-contet-left {
    width: 55%;
}

.about-kundanla-contet-container.the-daryaganj-rest-abt-page .border-dashed {
    padding: 100px 15px !important;
}
.col-1-amiabnce-img .image-contiainer-forhover:first-child,.col-3-amiabnce-img .image-contiainer-forhover:first-child {
    margin-bottom: 20px;
}

.col-2-amiabnce-img {
    align-self: center;
}

.abt-page-5-sense-of-delivery .stories-text {
    text-align: center;
}

.abt-page-5-sense-of-delivery {
    margin-bottom: 50px;
}
.dignitaries-content-col-1-top {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dignitaries-content-col-2 {
    width: 28%;
}

.dignitaries-content-col-1, .dignitaries-content-col-3 {
    width: 100%;
}

.dignitaries-content-col-1 .image-contiainer-forhover, .dignitaries-content-col-3 .image-contiainer-forhover {width: 48%;}

.dignitaries-content-col-1 .image-contiainer-forhover img, .dignitaries-content-col-3 .image-contiainer-forhover img {
    width: 100%;
}

.dignitaries-content-col-2 .image-contiainer-forhover {
    width: 100%;
}

.dignitaries-content-col-2 .image-contiainer-forhover img {
    width: 90%;
}

section.about-kundanla-container.section-3-abtpage {
    padding-bottom: 0;
}

.team-member-container-abt-page {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
}

.team-member-degination p {
    font-size: 25px;
    line-height: 30px;
    margin-top: 20px;
    font-weight: 700;
}

.team-member-degination p span {
    font-weight: 400;
}

.team-member-one-abt-page {
    margin-top: 50px;
}
.daryaganj-abt-page-team {
    margin-bottom: 30px;
}
.contact-us-header-1-img .border-dashed {
    padding: 20px 10px !important;
}
.location-text-cn p {font-family: 'Lato', sans-serif;font-size: 18px;}
.contat-text-from p span {
    font-family: 'rockb';
}
.form-row.full-row-content .form-group, .form-row.full-row-content .form-group input {
    width: 100%;
}
.expansion-page-first-section-text {
    padding: 30px 0;
    margin: 30px 0;
}

.expansion-page-first-section-text p {
    margin-bottom: 30px;
    font-weight: 700;
}

.expansion-page-first-section-text p span {
    font-weight: 500;
}

.expansion-page-first-section-text ul {margin: 50px auto;width: 70%;list-style: none;display: flex;flex-wrap: wrap;}

.expansion-page-first-section-text h3 {
    color: #383A3B;
    font-size: 22px;
}
.expansion-page-first-section-text ul li {
    width: 45%;
    padding: 16px 0;
    padding-left: 20px;
    font-size: 22px;
    font-weight: 500;
    position: relative;
}
.expansion-page-first-section-text ul li:before {content: "";position: absolute;left: -10px;top: 23px;width: 20px;height: 20px;background:url('../img/arrow-small-left-light-color.png');background-repeat: no-repeat;background-size: contain;}

.different-segment-of-revenu-text ul {
    padding: 30px 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.different-segment-of-revenu-text ul li {
    width: 45%;
    padding: 16px 0;
    padding-left: 20px;
    font-size: 22px;
    font-weight: 500;
    position: relative;
}

.different-segment-of-revenu-text ul li:before {
    content: "";
    position: absolute;
    left: -10px;
    top: 23px;
    width: 20px;
    height: 20px;
    background: url(../img/arrow-small-left-light-color.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.different-segment-of-revenu-text {
    width: 75%;
    margin: 0 auto;
}
section.different-segment-of-revenu-section {
    padding-bottom: 30px;
}

.expansion-page-form {
    width: 55%;
    padding: 20px 0;
    padding-bottom: 50px;
    padding-left: 150px;
}
.cities-for-expansion-text {
    padding: 30px 0;
}

.cities-for-expansion-text h3 {
    color: #383A3B;
    margin-bottom: 10px;
}
.expansion-format-sub-heading {
    display: flex;
    align-items: center;
    padding: 10px 0;
    padding-bottom: 40px;
}

.expansion-format-sub-heading h3 {
    color: #383a3b;
    margin-right: 20px;
}
.expansion-page-all-location-text {
    padding: 30px 0px;
}
.expansion-page-all-location-text p span {
    font-weight: 500;
}

.expansion-format ul {
    list-style: none;
}

.expansion-format ul li {
    padding: 10px 30px;
    position:relative;
}
.expansion-format ul li p {
    font-size: 22px;
    font-weight: 900;
}

.expansion-format ul li p span {
    font-size: 18px;
    font-weight: 600;
}

.expansion-format ul li:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 20px;
    width: 20px;
    height: 20px;
    background: url(../img/arrow-small-left-light-color.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.cities-for-expansion-text, .expansion-format, .expansion-page-all-location-text {
    padding-left: 150px;
}

footer .follow-us-container ul li:first-child, footer .contact-us-container ul:first-child li:first-child {
    margin-bottom: 50px;
}

ul.footer-wrap-ul li {
    margin-bottom: 0 !important;
}
.publication-logo-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.publication-logo-content .image-contiainer-forhover {
    width: 19%;
    margin: 20px 0;
}
.publication-logo-content .image-contiainer-forhover img {
    width: 100%;
}
.publication-logo-content {
    padding-top: 0;
}

.publication-button-container {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    margin: 40px 0;
}

.iconic-dishhes-content-2.media-page-section {
    justify-content: flex-end;
}

.video-section-media-button-container {
    padding-bottom: 30px;
    margin: 30px 0;
    display: flex;
    justify-content: center;
}
.awards-content-1.media-page-accolades, .awards-content-3.media-page-accolades {
    flex-direction: column;
    margin-bottom: 0;
    margin-top: 0;
}
.media-page-accolades-button-conatainer {
    margin-top: 50px;
}
.awards-content-1.faimly-aulbum, .awards-content-3.faimly-aulbum {
    flex-direction: column;
}
.gallery-button-container {
    margin: 40px 0 40px 0;
}
.first-row-gallery {
    padding-bottom: 30px;
}

section.award-and-media-sec.gallery-page .awards-content-container {
    padding-top: 0;
}

.dishhes-content-2-text.gallery-page-team-of-daryaganj.team-of-daryaganj {
    margin-top: 20px;
}
section.dignitaries-at-daryaganj.gallery-page {
    padding: 0;
}

section.daryaganj-on-the-go-sec.abt-page.gallery-page {
    padding-top: 0;
}

section.daryaganj-on-the-go-sec.abt-page.gallery-page .onthego-container {
    margin-top: 40px;
}

.hiddend-show-bar {
    background: #f8f5ea;
    padding: 10px 20px;
    position: absolute;
    display: none;
    z-index: 99999;
}

.hiddend-show-bar ul {
    flex-direction: column;
    text-align: center;
}

.hiddend-show-bar ul li {
    padding: 10px 20px;
}

.cta-tab-header ul li:hover .hiddend-show-bar{
    display:block;
 }

 .location-page-about-daryagnaj-parent-container {
    display: flex;
    justify-content: space-between;
}
.location-page-about-daryagnaj-left-container {
    width: 50%;
}
.location-page-about-daryagnaj-right-container {
    width: 38%;
}
.location-page-about-daryagnaj-right-container .image-contiainer-forhover, .location-page-about-daryagnaj-right-container .image-contiainer-forhover img {
    width: 100%;
}

.text-location-page-about-daryagnaj h3 {
    color: inherit;
    line-height: 2.5;
}

.text-location-page-about-daryagnaj p {
    line-height: 2;
    padding: 10px 0px;
}

.text-location-page-about-daryagnaj p span {
    font-weight: 800;
    font-family: 'rockb';
}

.location-page-first-readmore-container {
    display: flex;
    justify-content: center;
    margin: 60px 0;
}

.one-review-location-page {
    text-align: center;
}

.customer-review-left-section {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.customer-review-right-section {
    width: 60%;
}

.customer-review-conatainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.customer-review-right-section {
    display: flex;
    justify-content: space-between;
}
.one-review-location-page h4 {
    color: inherit;
    font-size: 22px;
    margin: 10px 0;
}

.one-review-location-page img {
    width: 100px;
    margin: 20px auto;
}

.one-review-location-page p {
    font-size: 18px;
}

.promotion-content-container {
    width: 90%;
    margin: 0 auto;
    position: relative;
    margin-bottom: 50px;
}
.img-promotion-page, .img-promotion-page img {
    width: 100%;
}


.propmotion-teaxt {
    position: absolute;
    top: 120px;
    left: 40px;
    z-index: 9;
}

.propmotion-teaxt p, .propmotion-teaxt h1, .propmotion-teaxt h2, .propmotion-teaxt h3 {color: #fff;}

.propmotion-teaxt p {
    font-size: 16px;
    font-weight: lighter;
}

.propmotion-teaxt h2 {
    font-size: 50px;
    font-style: italic;
    letter-spacing: 10px;
}

.propmotion-teaxt h2 span {
    font-weight: 100;
}

.propmotion-teaxt h1 {
    font-size: 75px;
    letter-spacing: 10px;
}

.propmotion-teaxt h1 spna {
    font-weight: lighter;
}

.propmotion-teaxt h3 span {
    font-weight: 100;
}

.propmotion-teaxt h3 {
    font-size: 30px;
}

.location-page-promotion-container {
    margin-top: 50px;
}

.location-page-promotion-container .readmore-btn a:after {
    width: 18px;
    border-color: #67021e;
}


.location-page-promotion-container .readmore-btn a {
    background: #67021e;
}

.service-content-location-page-one {
    width: 100%;
    text-align: center;
    position: relative;
}

.service-content-location-page-one-img {
    width: 50%;
    padding: 70px 0;
    justify-content: center;
    border: 2px solid #67031f;
    margin: 0 auto;
    background: #fffbef75;
}

.service-content-location-page-one-img img {
    width: 50%;
}

.service-content-location-page {
    display: flex;
    justify-content: space-evenly;
    flex: 1;
}

.service-content-location-page-left, .service-content-location-page-center, .service-content-location-page-right {
    width: 32%;
    align-self: center;
    align-items: center;
}


.service-content-location-page-one.center-one {
    align-self: center;
}
.service-content-location-page-one.first-iteam, .service-content-location-page-one.fourth-iteam {
    margin-bottom: 100px;
}

.service-content-location-page-one-text {
    display: flex;
    align-items: center;
    position: absolute;
    right: -210px;
    top: 40px;
}

.service-content-location-page-one.fourth-iteam .service-content-location-page-one-text {
    right: unset;
    left: -220px;
}

.service-content-location-page-one.fifth-iteam .service-content-location-page-one-text {
    right: unset;
    left: -170px;
    top: unset;
    bottom: 40px;
}

.service-content-location-page-one.second-iteam .service-content-location-page-one-text {
    right: -145px;
    top: unset;
    bottom: 40px;
}
.service-content-location-page-one-text p, .service-content-location-page-one-img p {
    font-family: 'rockb';
    font-weight: bold;
}

.service-content-location-page-one-text img {margin: 0px 10px;margin-top: -10px;}
.our-service-button-contaiber {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

h3.maroon-color {
    color: #65051e;
}

div#map {
    height: 618px;
    width: 55%;
}

.map-section-content-container {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}
.map-right-content-container {
    width: 40%;
}


.map-baaok-a-table-button .readmore-btn {
    z-index: 999;
}
.rating-icon-location-page {
    margin: 10px 0;
    margin-bottom: 40px;
}

.map-right-heading {
    margin-bottom: 30px;
}
.location-container-contact {
    display: flex;
}
.map-baaok-a-table-button .readmore-btn a {
    background: #71001f;
}
.map-baaok-a-table-button .readmore-btn a::before {
    background-color: #71001f;
}

.map-baaok-a-table-button .readmore-btn a::after {
    border-color: #71001f;
}
.location-page-promotion-parent-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
}

.location-text-cn.location-page-contact-section {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.location-text-cn.location-page-contact-section img {
    margin-right: 15px;
}

.contat-text-from h4 {
    font-size: 20px;
    color: #383a3b;
    font-family: 'Lato';
    margin-top: 10px;
}

.parent-text-form-head {
    margin-top: 40px;
}
.button-container.request-reservation button {
    width: 280px;
}

.button-container.request-reservation button:hover::before {
    width: 280px;
}

.button-container.request-reservation button:after {
    width: 70px;
}

.location-container-contact {
    width: 47%;
}
.map-right-sub-div .location-container-contact {
    width: 100%;
}

.about-kundanla-contet-left-2 p span {
    font-weight: 900;
}

.hospitia-our-br-text>p {
    font-size: 25px;
}

.cn-one-icon {
    width: 40px;
    height: 40px;
}

.cn-one-icon img {
    width: 100%;
}

.marketing-coletral-row.food-at-daryaganj.secreate-1947 {
    justify-content: space-evenly;
}


.by-the-inverstors-section h2, .by-the-inverstors-section-like h2 {
    font-size: 35px;
    font-weight: bolder;
}

.location-text-cn a {
    color: #383a3b;
}

.show-under-767 {
    display: none;
}

.awards-content-2.media-page-accolades {
    justify-content: center;
}

.readmore-btn.see-full-menu a {
    color: #fff;
}

.articles-page-media-col.width-33-article {
    width: 33%;
}

.articles-page-media-col.width-33-article img {
    width: 100%;
}

div#media-mentions-slider .image-contiainer-forhover {
    width: 30%;
    margin: 0 5px;
}

div#media-mentions-slider .image-contiainer-forhover img {
    width: 100%;
}

button.prevArrow.media-mentions, button.nextArrow.media-mentions {
    margin: 0 10px;
}
